<h1>Welcome to you cocktail !</h1>
<%= link_to 'New cocktail', new_cocktail_path %>



<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>

          <td><%= link_to cocktail.name, cocktail %></td>
          <td><%= link_to 'Dose', new_cocktail_dose_path(cocktail), class: "btn btn-primary btn-sm"  %></td>

      </tr>
    <% end %>
  </tbody>
</table>
